# Documentos
/docs/ACA INVESTIGACION DE OPERACIONES.docx

# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db